body { 
    background-color: #222;
    color: white;
    font-family: Arial;
}

.baner {
    text-align: center;
}

.kontener {
    width: 460px;
    margin: 0 auto;
}

.blok {
    width: 150px;
    height: 150px;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

.kolko { background-image: url("img/kolko.jpg"); }
.krzyzyk { background-image: url("img/krzyzyk.jpg"); }

.zablokowany {
    cursor: default;
}

.kolejka {
    text-align: center;
}